<div class="main">
  <div class="main-head">
    <h1>Public Speaking Meetups in Boston</h1>
  </div>

  <br>

  <div class="callout">
    <ul>
      <% @meetups.each do |meetup| %>
        <li>
        <%= link_to meetup.name, meetup_path(meetup)%>
        </li>
      <% end %>
    </ul>
  </div>

</div>
