<h2>Talks This Week</h2>

<div class="callout">

<ul>
  <% @presentations.each do |presentation| %>
    <li>
      <%= link_to presentation.title, presentation_path(presentation) %>
    </li>
  <% end %>
</ul>
</div>
